<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Intro to Web Dev!</title>
        <link rel='stylesheet' href='/static/styles.css' />
        <link rel='stylesheet' href='/static/bootstrap.min.css'>
        <link rel='stylesheet' href='/static/styles.css'>
    </head>
    <body>
        <!-- navigation bar -->
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/"><img class="logo" src="/static/logo.png" alt="logo"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create-todo">create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view-todo-list">view</a>
                    </li>
                </ul>
            </div>
        </nav>
        <p>Hello World!</p>
        <p class='hello' >Hello World!</p>
        <p class='hello' >Hello World!</p>
        <p class='hello' id='world' >Hello World!</p>
        <a href="/create-todo">Create Todo!</a>
        
    </body>
</html>